
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sana-serif;
	font-size: 40px;
	width: 100%;
	min-height: 100vh;
}
[class^="box-"] {
	background-color: skyblue;
	display: grid;
	place-items: end;
}
.container{
	display: grid;
	gap: 20px;
	height: 100vh;
	grid-template-columns: 1fr, 1fr;
	grid-template-rows: 1fr, 1fr;
	/* grid-template-areas: 
	"A A A A  A A A A  A A A A"
	"B B B B  B B B B  B B C C"
	"B B B B  B B B B  B B C C"; */
	/* justify-items: end;
	align-items: center; */
	/* justify-content: center; */
	/* align-content: center; */
}

.box-1 {
	/* grid-row: span 10; */
	grid-area: A;
	/* align-self: stretch; */
}
/* .box-2 {
	grid-area: B;
}
.box-3 {
	grid-area: C;
}
.box-4{

} */
