* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
a:focus, a:active {
	outline: none;
}
nav,footer,header,aside {
	display: block;
}
html, body {
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	font-weight: 500;
	font-family: Montserrat;
}
input, button, textarea {
	font-family: inherit;
}
button {
	cursor: pointer;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li ol{
	list-style: none;
}
img {
	vertical-align: top;
} 
h1,h2,h3,h4,h5,h6 {
	font-size: inherit; font-weight: 600;
} 